/*
DrinkQ Color Reference List

DrinkQblack: #292729
DrinkQgrey: #514F51
DrinkQred: #SF182A
DrinkQgold: #CFAE60
DrinkQtan: #E9D0A8
*/

body {
    font-size: 1em;
    background: #514F51;
    color: #292729;
}

h1 {
    color: #292729;
}

div.mainContent {
    max-width: 700px;
    background: #E9D0A8;
}
